<% provide(:title, 'About') %>
<h1>About The Lamps</h1>
<p>
  Too many cooks in the kitchen, or the ideal concoction for creating perfect audio alchemy? San Francisco Indie Rock trio The Lamps decidedly prove it’s the latter! Formed in 2016 after getting to know one another as service industry coworkers, band members Joe Krahling (drums) and Harrison Laver (guitar/vocals) began their post-work musical collaboration and formed the basis for the band, later snagging bassist Drew Dowling to round out their burgeoning sound.
</p>
<br />
<p>
  The threesome immediately felt a musical camaraderie based on their similar tastes, but also challenged one another with their corresponding differences in genre preferences and background influences. The guys soon found themselves effortlessly mixing these various musical tendencies. "We've been able to combine our different musical tendencies together in a unique way that produces natural, all-organic, jams,” adds bassist Dowling. Guitarist/vocalist Laver further explains, “What I love most about the band is the ease in which we present ideas to one another and give each other feedback. I never feel uncomfortable bringing a new song, sound or concept to the table. That fluidity of musical communication is priceless.” As a result, The Lamps have created their own straightforward take on Indie rock, expertly weaving in elements of Jazz, Surf Rock, Blues, Punk and Garage Rock. The band’s sound and style is comparable to popular Indie rockers like The Strokes, Real Estate and Black Rebel Motorcycle Club. The Lamps have been steadily gaining a local SF Bay Area following and regularly play to enthusiastic crowds at Brick & Mortar Music Hall, Stork Club, and Neck of the Woods, among other concert venues. The band’s debut four-track EP is due out Spring 2018.
</p>
