<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Lamps</title>
  <link rel="stylesheet" href="assets/stylesheets/application.css">
</head>

<body>
  <h1>About The Lamps</h1>
</body>
</html>