<img src="images/TheLamps_bw.jpg" alt="Lamps logo">
<h1>Welcome to The Lamps</h1>
<iframe width="100%" height="166" scrolling="no" frameborder="no"
        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/user-544634687/tracks/&amp;show_artwork=false&show_playcount=false&color=">
</iframe>