<header class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid navbar-inner justify-content-center" role="navigation">
    <nav class="nav nav-fill">
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/events">Events</a>
        <a class="nav-item nav-link" href="/media">Media</a>
        <a class="nav-item nav-link" href="/merch">Merch</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
    </nav>
  </div>
</header>