<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container justify-content-center" role="navigation">
    <nav class="nav nav-fill">
        <a class="nav-item nav-link active" href="/home">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link disabled" href="/events">Events</a>
        <a class="nav-item nav-link disabled" href="/media">Media</a>
        <a class="nav-item nav-link disabled" href="/merch">Merch</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
    </nav>
  </div>
</header>